    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <form action="/mainroom">
                    User : <input type="text" id="userInput" />

                    Message : <input type="text" id="messageInput" />
                    <button id="sendButton">Send</button>
                    <button id="sendButtonCaller">Send to Caller</button>
                    <button id="sendButtonGroup">Send to Group</button>
                    <button id="Room1">Join Room1</button>
                    <button id="Leave1">Leave Room1</button>
                    <button id="Room2">Leave Room2</button>
                </form>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 id="counting">0</h4>
                <button id="countUp">Count Up</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="box1"></div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <h2 id="gestdirection">Direction</h2>
                <button id="startcamera">Start Camera</button>
                <button id="stopcamera">Stop Camera</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                online users: 
                <ul id="onlineusers">

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <!-- diplay events on screen for DEMO purposes -->
    <script type="text/javascript" src="~/js/gest.min.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>