
    <style>
        #shape {
            width: 100px;
            height: 100px;
            background-color: #ffd3a6;
            cursor: move;
        }
    </style>
    <h1 class="GameTitle">Digital Tug-of-War</h1>
    <div id="shapeContainer">

    
    <div id="shape"></div>
    </div>
    <script src="~/lib/signalr/signalr.js"></script>
    <script>
        $(document).ready(function(){
            $shape = $("#shape");
            var connection = new signalR.HubConnection('/chat');

            connection.on('shapeMoved', function(x, y) {
                $shape.css({ left: x, top: y });
            });

            connection.start().then(
                $shape.draggable({
                    drag: function () {
                        connection.invoke("MoveShape", this.offsetLeft, this.offsetTop || 0);
                    }
                })
            );
        });
        
    </script>
