<div id="gameDiv"> </div>
<div class="row">
    <div class="col-12">
        <button id="send">Send object</button>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/phaser.min.js"></script>
<script src="~/js/edmulti.js"></script>
