@{
    ViewData["Title"] = "Earth Defender";
}
 <h2 class="main-header">Welcome Eearth Defender!</h2>
    <hr />
<div id="gameDiv"> </div>

<script src="~/js/phaser.min.js"></script>
<script src="~/js/game.js"></script>