@{
    ViewData["Title"] = "Earth Defender";
}
<div class="row">
    <div class="col-12">
        <h2 class="main-header">Welcome Eearth Defender!</h2>
    <hr />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="gameDiv" class="defenderbox"></div>
    </div>
</div>


<script src="~/js/phaser.min.js"></script>
<script src="~/js/game.js"></script>