@{
    ViewData["Title"] = "About Us";
}
<h2 class="colorized">About the Team:</h2>

<p class="colorized" style="font-size: 20px;">We aren't funr, we're FunR. Members include:</p>
<ul class="colorized" style="font-size: 20px">
    <li>Team Lead and Primary Game Designer: Chanthy Ng</li>
    <li>Layout and Game Designer: Javier Gonzalez</li>
    <li>Stylist: JJ Wailes</li>
    <li>Graphic Designer: Francisco Rodriguez</li>
</ul>

