@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We aren't funr, we're FunR. Members include:</p>
<ul>
    <li>Primary Game Designer: Chanthy Ng</li>
    <li>Layout and Game Designer: Javier Gonzalez</li>
    <li>Stylist: JJ Wailes</li>
    <li>Graphic Designer: Francisco Rodriguez</li>
</ul>

