﻿@{
    ViewData["Title"] = "Whiteboards";
}

﻿<style>
    canvas {
        cursor: crosshair;
        border: 3px solid #000;
        background-color: #fff;
    }
    p {
        color: white;
    }
</style>
<h1 class="GameTitle">Whiteboard Room</h1>
<p>Small Resolutions: Ensure you are fully scrolled to top of page to prevent offset drawing with mouse</p>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="row">
            <canvas id="canvas" width="750" height="500" ></canvas>
        </div>
        <div class="row">
            <div class="col-md-9">
                <p>Marker color: </p>
                <select id="color" class="btn btn-info">
                    <option value="black">Black</option>
                    <option value="red">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="green">Green</option>
                    <option value="blue">Blue</option>
                </select>
            </div>
            <div class="col-md-3">
                <div id="output"></div>
            </div>
        </div>
</div>
    <div class="col-sm-12 col-md-1"> <div style="width: 50px"></div></div>
    <div class="col-sm-12 col-md-3">
        <!-- CHAT -->
        <div class="row">
            <!-- USERS -->
            <h4 style="color: green;">Users In Room</h4>
            <div class="userList">
                <p id="users" style="display: static"></p>
            </div>
        </div>
        <div class="row">
            <!-- SUBMIT -->
            <div class="sendForm">
                <form id="sendmessage" action="#">
                    <input class="form-control" type="text" id="new-message">
                    <button type="submit" id="send" class="btn btn-success btn-block col-sm-4 col-md-4 send">Send</button>
                </form>
            </div>
        </div>
        <div class="row">
            <!-- CHATLIST -->
            <h4 style="color: red;">Messages</h4>
            <div class="msgList">
                <p id="messages"></p>
            </div>
        </div>
    </div>
    </div>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/gest.js"></script>
    <script src="~/js/whiteboard.js"></script>
    
