
<h1>Welcome to the Growing Tree Room</h1>
<div id="gestdirection">
    <h2>Directions:</h2>
    <h4>Wave Hand Up to Grow Tree</h4>
</div>
<div class="row">
    <div id="users"></div>
</div>
<h2 id="waiting" class="text-center">Waiting for Other Player to Start...</h2>
<div class="newgame text-center">
    <br>
    <h2 class="playtext">Ready to Play?</h2>
    <h2 class="readytext">Waiting for Another User...</h2>    
    <button class="btn btn-lg btn-success gamestart">Start Game</button>
</div>

<div id="container">
    <div id="treecontainer" class="row"></div>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/gest.js"></script>
<script>
    var usercolorobj = {};
    var count = 0;
    var color = ["red", "green", "blue", "purple", "darkgold", "black", "orange", "dodgerblue", "violet", "tomato", "magenta"];
    $(document).ready(function(){
        var userid = {};
        //gspc = game start push count
        var gspc = 0;
        $("#gestdirection").hide();
        $("#waiting").hide();
        $("#container").hide();
        $(".playtext").hide();
        $(".gamestart").hide();
        //usercount keeps track of users in tree room
        var usercount = 0;
        //hide start game button until 2 players are in lobby
        console.log("ready");
        const treehub = new signalR.HubConnection(
            "/growingtree", { logger: signalR.LogLevel.Information });

        //////// Testing below for 2 player
        treehub.on('SetUsersOnline', usersOnline => {
            usersOnline.forEach(user => addUserOnline(user));
        });
//
        treehub.on('UsersJoined', users => {
            users.forEach(user => {
                addUserOnline(user);
            });
        });

        treehub.on('UsersLeft', users => {
            users.forEach(user => {
                document.getElementById(user.name).outerHTML = '';
                var user = userid[user.name];
                document.getElementById(user).parentElement.outerHTML = '';
                console.log(user, "thisuser id");
                
            });
            usercount--;
            gspc--;
            console.log(usercount);
            if(usercount<2){
                window.location.href = "/treegrowing";
            }
        });

//use code below to send messages to other player in room
        treehub.on('Send', (userName) => {
            console.log(userName);
            var nameElement = document.createElement('b');
            nameElement.innerText = userName + '   ';
            for(var key in usercolorobj){
                if(key == userName){
                    nameElement.style.color = usercolorobj[key];
                    break;
                }
            }
            var child = document.createElement('h3');
            child.className = "col-md-6";
            child.appendChild(nameElement);
            document.getElementById('users').appendChild(child);
        });
        treehub.on("GrowTreeWidthClient", (width, height, userName) => {
            console.log(userName);
            
            var connectid = userid[userName];
            console.log("growth id",connectid);
            console.log($(connectid));
            $("#"+connectid).width(width);
            $("#"+connectid).height(height);
            var playerheight = $("#"+connectid).height(height);
            console.log("playerheight", playerheight)
            console.log(height);
            var thisplayer = document.getElementById(connectid).style.height;
            console.log("thisplayer type px",typeof(thisplayer));
            if(height == 400){
                //instead of display only one score display both scores, append to html
                if(document.getElementById(connectid).style.height != "400px"){
                    $("#container").html("<div class='text-center'><h1>Game Over You Lost</h1><p>Your Tree Height is "+height+"</p><p><a class='btn btn-success' role='button' href='/treegrowing'>Play Again?</a></p></div>");
                }
                else{
                    $("#container").html("<div class='text-center'><h1>Game Over You Win!!</h1><p>Your Tree Height is "+height+"</p><p><a class='btn btn-success' role='button' href='/treegrowing'>Play Again?</a></p></div>");
                }
                treehub.stop();
            }
        }); 
        treehub.on("StartGameClient", (pushcount) =>{
            gspc = pushcount;
            console.log("gspc", gspc);
            if(gspc == 2){
                gest.start();
                console.log("started");
                $("#container").show();
                $("#waiting").hide();
            }
        });
        treehub.start();
        gest.options.subscribeWithCallback(function(gesture) {
            var message = '';
            console.log(gesture.direction);

            if (gesture.direction) {
                message = gesture.direction;
                console.log($(".tree"));
                $tree = $(".tree");
                console.log($tree);
                console.log($($tree).width());
                console.log($($tree).height());
                if (gesture.up) {
                    treehub.invoke("GrowTreeWidth", $($tree).width(), $($tree).height(), gesture.up)
                        .catch(err => console.error);
                }
            } else {
                message = gesture.error.message;
            } 

        });
        //Testing below:
        function addUserOnline(user) {
            if (document.getElementById(user.connectionId)) {
                return;
            }
            usercount++;
            if(usercount > 2){
                usercount--;
                return;
            }
            console.log(usercount);
            if(usercount > 1){
                $(".gamestart").show();
                $(".playtext").show();
                $("#gestdirection").show();
                $(".readytext").hide();
            }
            var userLi = document.createElement('h3');
            userLi.innerText = `${user.name}`;
            userLi.id = user.name;
            userLi.className = "col-md-6 text-center";
            while(count<color.length){
            var usercolor = color[count];
            userLi.style.color = usercolor;
            userid[user.name] = user.connectionId;
            usercolorobj[user.name] = usercolor;
                count++;
                if(count == 10){
                    count = 0;
                }
                break;
            }
            //while(usercount<)
            var treediv = document.createElement('div');
            treediv.className = "col-md-6";
            var treepic = document.createElement('img');
            treepic.id = user.connectionId;
            treepic.className = "tree center";
            treepic.src = "/images/pine-tree-b.jpg";
            treepic.width = "80";
            treepic.height = "100";
            treediv.appendChild(treepic);
            document.getElementById("treecontainer").appendChild(treediv);

            document.getElementById('users').appendChild(userLi);
        }
        $(".gamestart").click(function(e){
            //testing invoke below
            if(usercount > 1){
                treehub.invoke("StartGame", gspc)
                console.log("gamestartinvoked");
                $(".newgame").hide();
                $("#waiting").show();
            }
            
            //gest.start();
            //console.log("started");
            //e.preventDefault();
            //$("#container").show();
            //$(".newgame").hide();
        });
    });
</script>