
<h1>Welcome to the Growing Tree Room</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 id="gestdirection">Direction</h2>
            <button id="startcamera">Start Camera</button>
            <button id="stopcamera">Stop Camera</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4 id="counting">0</h4>
            <button id="countUp">Count Up</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tree1">
                <img class="tree" src="/images/pine-tree-b.jpg" alt="tree" height="100" width=80>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tree2">
            </div>
        </div>
    </div>
</div>

<script src="~/js/gest.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>