body {
    /* background-image: url("/images/bodybg.jpeg");
    background-color: #cccccc; */
}
body::after {
    content: "";
    /* background: url("/images/bodybg.jpeg"); */
    background-color: #cccccc;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.main-header {
    color: white;
    margin-top: 10px;
    text-align: center;
}

hr {
    border: 1px solid white;
}

.wide {
    width: 200px;
    margin: 10px;
}

.buffering {
    margin-left: 75px;
}

.btn-default {
    color: #fff;
    background-color: #e26b26;
    border-color: #e26b26;   
}


#brandLogo {
    height: 100px;
    border: 2px double #ffffff;

    border-radius: 50px;
}

#shapeContainer {
    width: 1000px;
    height: 700px;
}

.GameTitle {
    color: white;
    text-align: center;
}
.canvasContainer {
    width: 825px;
    margin: auto;
}

.defenderbox {
    width: 944px;
    height: 684px;
    border: 2px double #ffffff;
    box-shadow: 0px 0px 500px 0px #ffffff;
}

.navbartop {
    /* background: rgb(196, 196, 196); */
    background: rgba(196, 196, 196, 0.6);
}

.body-content {
    /* background: rgba(204, 204, 204, 0.5);
    box-shadow: 0px 0px 500px 0px #ffffff;
    padding-left: 25px; */
    /* padding-right: 25px; */
}